<div class="img-thumbnail">
  <img src="assets/images/{{crib.image}}.jpg" alt="" class="img-thumbnail">
  <div class="caption">
    <div *ngIf="!crib.showDetails">
      <h4>
        <span class="badge badge-primary">
        {{crib.type}}
        </span>
      </h4>
      <h3>
        {{crib.price | currency: 'EUR':true}}
      </h3>
      <h4>
        @ {{crib.address}}
      </h4>
      <hr>
      
      <button class="btn btn-sm btn-success" *ngIf="!crib.showDetails" (click) = "crib.showDetails = !crib.showDetails">Details</button>
    </div>
    
    <div *ngIf="crib.showDetails">
      <div class="details">
        <h4>
          <span class="badge badge-info">Beds: {{crib.bedrooms}}</span>
          <span class="badge badge-info">Baths: {{crib.bathrooms}}</span>
          <span class="badge badge-info">SqFt: {{crib.area}}</span>
        </h4>
        <p>{{crib.description}}</p>
        <hr>
        <button class="btn btm-sm btn-danger" (click)="crib.showDetails = !crib.showDetails">Close</button>
      </div>

    </div>
    
  </div>
</div>